<div class="wrap">
    <div class="label">
        Builds
    </div>

    <div class="builds">
        <div class="build-item">
            <img src="../../img/house_clite.png" width=32px />
        </div>
    </div>
</div>

<style>
#buildsTable {
    position: absolute;
    width: 100%;
    height: 80px;
    top: calc(100% - 90px);
}

#buildsTable .wrap {
    background: rgba(255, 255, 255, 0.1);
    width: 48%;
    height: 100%;
    margin: auto;
}

#buildsTable .builds {
    width: 100%;
    height: 100%;
    background: rgb(172, 172, 172);
}

#buildsTable .label {
    color: white;
    background: rgb(83, 83, 83);
}

@media screen and (max-width: 700px) {
    #buldsTable .wrap {
        width: calc(100% - 100px);
    }
}
</style>

<script>

</script>