<canvas id="backgroundCanvas"></canvas>

<style>
#background {
    position: absolute;
    width: 100%;
    height: 100%;
}
</style>

<script>

class backgroundCanvasObject {
    m = [];
    ctx = backgroundCanvas.getContext('2d');

    constructor () {
        backgroundCanvas.width = window.innerWidth;
        backgroundCanvas.height = window.innerHeight;
        this.ctx = backgroundCanvas.getContext('2d');
        this.m = [];

        backgroundCanvas.onclick = function(e) {
            //fullScreen(backgroundCanvas);
            var xCl = e.clientX;
            var yCl = e.clientY;
            for (var k = 0; k < 10; k++) {
                this.m.push([]);
                this.m[this.m.length - 1].push(xCl);
                this.m[this.m.length - 1].push(yCl);
                this.m[this.m.length - 1].push(randomInteger(-50 / 10, 50 / 10));
                this.m[this.m.length - 1].push(randomInteger(-50 / 10, 50 / 10));
                var rgb = {
                    r: randomInteger(0, 255),
                    g: randomInteger(0, 255),
                    b: randomInteger(0, 255)
                };
                this.m[this.m.length - 1].push(rgb.r);
                this.m[this.m.length - 1].push(rgb.g);
                this.m[this.m.length - 1].push(rgb.b);
                this.m[this.m.length - 1].push(3);
            }
        }

        backgroundCanvas.onmousemove = (e) => {
            var xCl = e.clientX;
            var yCl = e.clientY;
            for (var k = 0; k < 10; k++) {
                this.m.push([]);
                this.m[this.m.length - 1].push(xCl);
                this.m[this.m.length - 1].push(yCl);
                this.m[this.m.length - 1].push(randomInteger(-50 / 10, 50 / 10));
                this.m[this.m.length - 1].push(randomInteger(-50 / 10, 50 / 10));
                var rgb = {
                    r: randomInteger(0, 255),
                    g: randomInteger(0, 255),
                    b: randomInteger(0, 255)
                        //r: 0,
                        //g: 0,
                        //b: 0
                };
                this.m[this.m.length - 1].push(rgb.r);
                this.m[this.m.length - 1].push(rgb.g);
                this.m[this.m.length - 1].push(rgb.b);
                this.m[this.m.length - 1].push(3);
            }
        }

        backgroundCanvas.ontouchmove = (e) => {
            var touchobj = e.changedTouches[0]
            var dist = parseInt(touchobj.clientX);

            var xCl = touchobj.clientX;
            var yCl = touchobj.clientY;

            for (var k = 0; k < 10; k++) {
                this.m.push([]);
                this.m[this.m.length - 1].push(xCl);
                this.m[this.m.length - 1].push(yCl);
                this.m[this.m.length - 1].push(randomInteger(-50 / 10, 50 / 10));
                this.m[this.m.length - 1].push(randomInteger(-50 / 10, 50 / 10));
                var rgb = {
                    r: randomInteger(0, 255),
                    g: randomInteger(0, 255),
                    b: randomInteger(0, 255)
                };
                this.m[this.m.length - 1].push(rgb.r);
                this.m[this.m.length - 1].push(rgb.g);
                this.m[this.m.length - 1].push(rgb.b);
                this.m[this.m.length - 1].push(3);
            }
        }

        
        this.Update(this);
        this.optimization(this);
    }

    Update(self) {
        backgroundCanvas.width = window.innerWidth;
        backgroundCanvas.height = window.innerHeight;


        self.ctx.clearRect(0, 0, backgroundCanvas.width, backgroundCanvas.height);
        self.Draw();
        self.move();
        //optimization();
        requestAnimationFrame(() => {
            this.Update(self);
        });
    }

    Draw() {
        for (var i = 0; i < this.m.length; i++) {
            this.ctx.fillStyle = "rgb(" + this.m[i][4] + "," + this.m[i][5] + "," + this.m[i][6] + ")";
            this.ctx.fillRect(this.m[i][0], this.m[i][1], 7, 7);
        }
    }

    move() {
        for (var i = 0; i < this.m.length; i++) {
            this.m[i][0] += this.m[i][2];
            this.m[i][1] += this.m[i][3];
        }
    }

    optimization(self) {
        /*for (var i = 0; i < m.length; i++) {
            if (m[i][0] < 0) {
                m[i].splice(1, 1);
            }
            if (m[i][0] > 1360) {
                m[i].splice(1, 1);
            }
            if (m[i][1] < 0) {
                m[i].splice(1, 1);
            }
            if (m[i][1] > 700) {
                m[i].splice(1, 1);
            }
        }*/

        for (var i = 0; i < this.m.length; i++) {
            this.m[i][7]--;
            if (this.m[i][7] < 0) {
                this.m.splice(i, 1);
            }
        }
        setTimeout(() => {
            this.optimization(self)
        }, 600);
    }

}

const BackgroundCanvas = new backgroundCanvasObject();


function fullScreen(element) {
    if (element.requestFullscreen) {
        element.requestFullscreen();
    } else if (element.webkitrequestFullscreen) {
        element.webkitRequestFullscreen();
    } else if (element.mozRequestFullscreen) {
        element.mozRequestFullScreen();
    }
    
    
}


function randomInteger(min, max) {
    let rand = min + Math.random() * (max - min);
    return Math.round(rand);
}
</script>