<div class="topbar">
    <img src="img/icons/close.png" width=20px />
</div>

<div id="messages"></div>

<div id="inputMessage">
    <input placeholder="Message" class="input" type="text" />
    <button id="sendmessage">Send</button>
</div>

<style>
#chat {
    position: absolute;
    width: 400px;
    height: 300px;
    background: rgb(0, 0, 0, 0.4);
    top: calc(100% - 300px);
}

#chat .topbar {
    position: absolute;
    left: calc(100% - 22px);
    font-size: 20px;
}

#chat #inputMessage .input {
    width: calc(100% - 100px);
    height: 30px;
    border: 0;
    padding: 0;
    margin: 0;
    background: rgb(36, 36, 36);
    color: gray;
}

#chat #inputMessage #sendmessage {
    width: 95px;
    height: 30px;
    border: 0;
    padding: 0;
    margin: 0;
    background: rgb(36, 36, 36);
    color: gray;
}

#chat #messages {
    width: 100%;
    height: calc(100% - 30px);
}

#chat #messages .item {
    display: flex;
}

#chat #messages .item .author {
    padding: 0 10px 0 0;
    color: gray;
}

@media screen and (max-width: 600px) {
    #chat {
        display: none;
    }

    #chatShowButton {
        display: block;
    }
}

@media screen and (min-width: 700px) {
    #chat {
        display: block;
    }

    #chatShowButton {
        display: none;
    }
}
</style>

<script>
$(function() {
});

$("#chat .topbar").click(() => {
    //Add close button
});

$("#chat #inputMessage #sendmessage").click(() => {
    if ( $("#chat #inputMessage .input").val().length > 0 ) {
        if (Player) {
            socket.emit('sendMessage', {
                to: 'All',
                text: $("#chat #inputMessage .input").val(),
                player: Player
            });
            $("#chat #inputMessage .input").val('')
        } else {
            alert('Start game.');
        }
    }
});

$("#chat #inputMessage .input").keypress( event => {
    if (event.keyCode == 13 && $("#chat #inputMessage .input").val().length > 0) {
        if (Player) {
            socket.emit('sendMessage', {
                to: 'All',
                text: $("#chat #inputMessage .input").val(),
                player: Player
            });
            $("#chat #inputMessage .input").val('')
        } else {
            alert('Start game.');
        }
    }
});

socket.on('sendMessageGet', (message) => {
    console.log(message);
    $("#chat #messages").append(`<div class="item">
                                    <div class="author">${message.player}</div>: 
                                    <div class="content">${message.text}</div>
                                </div>`);
});

$("#chat .topbar").click(() => {
    $("#chat").fadeOut();
    $("#chatShowButton").fadeIn();
});
</script>
