<div id="gameWrapper">
    <canvas id="gameCanvas"></canvas>

    <div id="buildsTable"></div>
</div>

<style>
#game {
    position: absolute;
    width: 100%;
    height: 100%;
}

#game #gameWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#game #gameWrapper #gameCanvas {
    position: absolute;
    left: 0;
    top: 0;
}
</style>

<script>
$(function(){
    $("#game #gameWrapper #buildsTable").load("components/gameGui/buildsTable.html");
})

class Game {
    players = {}

    camera = {
        x: 0,
        y: 0,
        move: {
            speed: 0,
            x: 0,
            y: 0,
            sellSpeed: 0,
            xDown: null,
            yDown: null
        },
        blockWidth: 96,
        blockHeight: 96
    }

    mouse = {
        down: false,
        move: false
    }

    selectBuild = {
        name: "house_clite",
        x: 0,
        y: 0
    }

    constructor () {
        this.map = [
        ];

        gameCanvas.width = window.innerWidth;
        gameCanvas.height = window.innerHeight;
        
        this.canvas = gameCanvas;

        this.ctx = gameCanvas.getContext('2d');
        this.loadImages();
        this.update(this);
        
        //Events
        gameCanvas.onmousedown = (e) => {
            var xCl = e.clientX;
            var yCl = e.clientY;

            this.camera.move.xDown = xCl;
            this.camera.move.yDown = yCl;

            this.mouse.down = true;
        }

        gameCanvas.onmousemove = (e) => {
            var xCl = e.clientX;
            var yCl = e.clientY;

            if (this.mouse.down == true) {
                this.camera.x += (this.camera.move.xDown - xCl);
                this.camera.y += (this.camera.move.yDown - yCl);

                this.camera.move.xDown = xCl;
                this.camera.move.yDown = yCl;
            }

            if (!this.mouse.down) {
                if (this.selectBuild.name) {
                    this.selectBuild.x = xCl - ((this.camera.blockWidth / 4) * this.gameResources[this.selectBuild.name].obj.width) / 2;
                    this.selectBuild.y = yCl - ((this.camera.blockHeight / 4) * this.gameResources[this.selectBuild.name].obj.height) / 2;
                }
            }
        }

        gameCanvas.onmouseup = (e) => {
            var xCl = e.clientX;
            var yCl = e.clientY;

            this.mouse.down = false;
        }

        gameCanvas.ontouchstart = (e) => {
            var touchobj = e.changedTouches[0];
            var dist = parseInt(touchobj.clientX);

            var xCl = touchobj.clientX;
            var yCl = touchobj.clientY;

            this.mouse.down = true;
        }

        gameCanvas.ontouchmove = (e) => {
            var touchobj = e.changedTouches[0];
            var dist = parseInt(touchobj.clientX);

            var xCl = touchobj.clientX;
            var yCl = touchobj.clientY;

            if (this.mouse.down) {
                if (this.camera.move.xDown){
                    this.camera.x += (this.camera.move.xDown - xCl);
                    this.camera.y += (this.camera.move.yDown - yCl);
                }
                this.camera.move.xDown = xCl;
                this.camera.move.yDown = yCl;
            }
        }

        gameCanvas.ontouchend = (e) => {
            var touchobj = e.changedTouches[0];
            var dist = parseInt(touchobj.clientX);

            var xCl = touchobj.clientX;
            var yCl = touchobj.clientY;

            this.mouse.down = false;
            this.camera.move.xDown = null;
            this.camera.move.yDown = null;
        }

        this.connections();
    }

    connections() {
        socket.on('sendPlayersList', (data) => {
            this.players = ((data) => {
                const onlinePlayers = {};

                for (let id in data) {
                    if (data[id].online)
                        onlinePlayers[id] = data[id];
                }

                return onlinePlayers;
            })(data);
        });
    }

    update(self) {
        self.drawGrid();
        self.moveCamera();

        requestAnimationFrame(() => {
            this.update(self);
        });
    }

    drawGrid() {
        this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);

        let startX = Math.floor(this.camera.x / this.camera.blockWidth);
        let startY = Math.floor(this.camera.y / this.camera.blockHeight);

        let overX = startX + Math.floor(this.canvas.width / this.camera.blockWidth) + 2;
        let overY = startY + Math.floor(this.canvas.height / this.camera.blockHeight) + 2;

        
        for (let y = startY; y < overY; y++) {
            for (let x = startX; x < overX; x++) {
                this.gameResources.default_clite.draw(this.ctx,
                                    x * this.camera.blockWidth - this.camera.x,
                                    y * this.camera.blockHeight - this.camera.y,
                                    this.camera.blockWidth,
                                    this.camera.blockHeight);
            }
        }

        for (let playerId in this.players) {
            const player = this.players[playerId];
            const builds = player.builds;

            builds.forEach(obj => {
                this.gameResources[obj.clite].draw(this.ctx,
                                            obj.x * this.camera.blockWidth - this.camera.x,
                                            obj.y * this.camera.blockHeight - this.camera.y,
                                            (this.camera.blockWidth / 4) * this.gameResources[obj.clite].obj.width,
                                            (this.camera.blockHeight / 4) * this.gameResources[obj.clite].obj.height);
            });
        }

        if (this.selectBuild.name)
            this.gameResources[this.selectBuild.name].draw(this.ctx,
                                            (Math.round(this.selectBuild.x / ((this.camera.blockWidth / 4) * this.gameResources[this.selectBuild.name].obj.width)) * ((this.camera.blockWidth / 4) * this.gameResources[this.selectBuild.name].obj.width)) - (this.camera.x - ((this.camera.blockWidth / 4) * this.gameResources[this.selectBuild.name].obj.width)),
                                            (Math.round(this.selectBuild.y / ((this.camera.blockHeight / 4) * this.gameResources[this.selectBuild.name].obj.height)) * ((this.camera.blockHeight / 4) * this.gameResources[this.selectBuild.name].obj.height)) - (this.camera.y - ((this.camera.blockHeight / 4) * this.gameResources[this.selectBuild.name].obj.height)),
                                                (this.camera.blockWidth / 4) * this.gameResources[this.selectBuild.name].obj.width,
                                                (this.camera.blockHeight / 4) * this.gameResources[this.selectBuild.name].obj.height)
    }

    //Don't need it
    moveCamera () {
        this.camera.x += this.camera.move.speed * this.camera.move.x;
        this.camera.y += this.camera.move.speed * this.camera.move.y;
    }

    loadImages () {
        this.gameResources = {
            "default_clite": { sprite: { src: "img/default_clite3x3.png" }, width: 4, height: 4 },
            "stone_ore_clite": { sprite: {src: "img/stone_ore_clite.png" }, width: 3, height: 3 },
            "iron_ore_clite": { sprite: { src: "img/iron_ore_clite.png" }, width: 3, height: 3 },
            "base_clite": { sprite: { src: "img/base_clite.png" }, width: 4, height: 4 },
            "house_clite": { sprite: { src: "img/house_clite.png" }, width: 2, height: 2 }
        }

        for (let res in this.gameResources) {
            this.gameResources[res] = new GameObject(this.gameResources[res]);
        }
    }
}

class GameObject {
    constructor (obj) {
        this.obj = obj;
        
        //Image loading
        this.obj.sprite.img = new Image();
        this.obj.sprite.img.src = this.obj.sprite.src;
    }

    draw(ctx, x, y, width = this.obj.width, height = this.obj.height) {
        ctx.drawImage(this.obj.sprite.img,
                        x, y, width, height);
    }
}


let _game = new Game();
</script>