<div class="playersList">
    <div class="header">Players</div>
    <div class="list"></div>

    <div class="close">
        <img src="img/icons/preview.png" width=30px/>
    </div>
</div>

<div class="show">
    <img src="img/icons/players.png" width=50px />
</div>

<style>
#playersList {
    position: absolute;
}

#playersList .playersList {
    background: rgb(0, 0, 0, 0.3);
    width: 200px;
    max-height: 300px;
}

#playersList .show {
    background: rgba(22, 22, 22, 0.363);
    border: black 3px solid;
}

#playersList .playersList .header {
    color: white;
}

#playersList .playersList .player {
    color: gray;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 5px 5px 5px;
    font-size:14px;
}

#playersList .playersList .active {
    background: rgba(128, 128, 128, 0.192);
    color: black;
}

#playersList .playersList .header {
    font-size: 18px;
    padding: 10px 10px 2px 10px;
}

@media screen and (max-width: 600px) {
    #playersList .playersList {
        display: none;
    }

    #playersList .show {
        display: block;
    }
}

@media screen and (min-width: 700px) {
    #playersList .playersList {
        display: block;
    }

    #playersList .show {
        display: none;
    }
}
</style>

<script>
$(function() {
    /*$("#playersList .playersList").css({
        display: "none"
    });*/
});

$("#playersList .show").click(() => {
    $("#playersList .show").css({
        display: "none"
    });
    $("#playersList .playersList").fadeIn(1000);
});

$("#playersList .close").click(() => {
    $("#playersList .show").fadeIn(1000);
    $("#playersList .playersList").css({
        display: "none"
    });
});

socket.on('sendPlayersList', (data) => {
    $(".list").html('');
    if (data) {
        for (playerId in data) {
            player = data[playerId];

            //TODO: Блять перепишіть хтось цей ГоВнОкОд
            if (player.online)
                if (Player)
                    if (playerId == Player.id)
                        $(".list").append(`<div class="player active">${player.name}</div>`);
                    else
                        $(".list").append(`<div class="player">${player.name}</div>`);
                else
                    $(".list").append(`<div class="player">${player.name}</div>`);
            }
    }
});

</script>
